<sb:include src="../_partials/_page.html">
  <link rel="stylesheet" href="../assets/css/body.css">
  <link rel="stylesheet" href="../assets/css/project.css">
  <link rel="stylesheet" href="../assets/css/project-header.css">
  <link rel="stylesheet" href="../assets/css/flash-player.css" sb:selector=".flash-player">
  <link rel="stylesheet" href="../assets/css/youtube-embed.css" sb:selector=".youtube-embed">

  <header class="project-header">
    <a href="/">Back to home</a>
  </header>

  <div class="project">
    <h1>
      <!-- Title in page.content is hidden via CSS so that this title can be used instead. -->
      {{page.title}} ({{#fn.dateToYear}}{{page.date}}{{/fn.dateToYear}})
    </h1>

    {{{page.content}}}
  </div>

  <sb:include src="../_partials/_project_table.html"/>
</sb:include>
