<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<base href="{{site.assertBaseUrl}}/{{page.slug}}/" />

<link rel="stylesheet" href="{{site.assertBaseUrl}}/assets/css/body.css">
<link rel="stylesheet" href="{{site.assertBaseUrl}}/assets/css/project.css">
<link rel="stylesheet" href="{{site.assertBaseUrl}}/assets/css/project-header.css">
<link rel="stylesheet" href="{{site.assertBaseUrl}}/assets/css/flash-player.css">
<link rel="stylesheet" href="{{site.assertBaseUrl}}/assets/css/youtube-embed.css">

<header class="project-header">
  <a href="{{site.baseUrl}}">Back to archive</a>
</header>

<div class="project">
  <h1>
    {{page.title}} ({{#formatDateAsYear}}{{page.date}}{{/formatDateAsYear}})
  </h1>
  {{{page.content}}}
</div>

{{>project_table}}
