.intro {
  padding: 35px 25px;
  max-width: 50ch;
}

.intro__logo {
  width: 130px;
  margin-bottom: 30px;
}

.intro p {
  line-height: 1.4;
  margin: 0;
  margin-bottom: 15px;
}

.intro p:last-child {
  margin-bottom: 0;
}
