.youtube-embed__video {
  background: black;
  padding-bottom: 56.2%;
  position: relative;
}

.youtube-embed iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.youtube-embed a {
  display: block;
  text-align: center;
}
